# Virtual environment
venv/
.venv/

# Project files, build and dist
.idea/
*.iml
build/
dist/
WhisperGUI_dmg/
*.dmg
*.spec
*.txt
*.qm

# Caches and temp files
cache/
__pycache__/
.DS_Store

# Development stuff
*.ipynb
